
main {
    width: 100%;
    height: 80vh;
    background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
    background-position: 80% 80%;
    background-size: cover;
    position: relative;
}





section {
    width: 100%;
    height: 20vh;
    background-color: black;
    position: absolute;
    z-index: 999;
    top: 62%;
}











footer {
    width: 100%;
    height: 10vh;
    background-color: black;
    position: absolute;
    top: 82%;
    border-top: 1px solid white;
}





.chat-section {
    width: 100%;
    height: 5vh;
    background-color: black;
    position: absolute;
    top: 95%;
}