main {
  width: 100%;
  height: 80vh;
  min-height: 600px;
  background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 20px;
  position: relative;
}

/* #region section */
section {
  width: 100%;
  height: 25vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  top: 62%;
}
.cards {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  /* background-color: red; */
  color: #efefef;
  gap: 10px;
}
.card1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 10%;
  height: 20vh;
  /* background-color: green; */
}
.card2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 10%;
  height: 20vh;
}
.card3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 10%;
  height: 20vh;
}
.card4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 10%;
  height: 20vh;
}
.card1-button {
  margin-top: auto;
}
.card2-button {
  margin-top: auto;
}
.card3-button {
  margin-top: auto;
}
.card4-button {
  margin-top: auto;
}
.card1-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card2-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card3-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card4-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card1-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card2-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card3-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card4-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card1-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
}
.card2-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
}
.card3-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
}
.card4-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
}
.card1 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card2 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card3 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card4 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card1 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 90%;
}
.card2 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 90%;
}
.card3 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 90%;
}
.card4 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 90%;
}
.sectionline {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.cards-borderline {
  width: 42%;
  height: 1px;
  background-color: white;
}

/* #endregion section */

